body {
    font-family: 'Nunito';
    font-size: 18px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.card{
    background-color: transparent;
}

.navbar-title{
    color: #dd191d;
}

.border-list{
    border-radius: 20px 20px 20px 20px;
}
