.bg-login-image{
    background: url("../img/bg-login.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 445px;
    border: 0px;
}
body {
    font-family: 'Nunito';
    font-size: 18px;
}
.accountSize{
    font-size: 16px;
}
.bg-gray{
    background-color: #d9d9d9;
}
.bg-light-gray{
    background-color: #eeeeee;
}
.bg-light-red{
    background-color: #ff4d4d;
}
.bg-white{
    background-color: white;
}
.red{
    color: #dd191d;
}
.white{
    color: white;
}
.sizeDiv{
    width: 57vw;
}
.border-input{
    border-radius: 20px;
}
.border-span{
    border-radius: 20px 0px 0px 20px;
}
img{
    width: auto;
    height: auto;
    max-width: 445px; 
    max-height: 445px
}