body {
    font-family: 'Nunito';
    font-size: 18px;
    background-image: url("../img/bg-productos.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.card{
    display: flex;
    width: 15rem;
    margin: 20px;
}

.red{
    color: #dd191d;
}

.card .card-img-top{
    height: 40%; 
}

.bg-light-red{
    background-color: #ff4d4d;
}

.white{
    color: white;
}

#seccion-categorias{
    border-radius: 10px; 
    margin-left: 0;
}