<div class="d-flex justify-content-center">
    <div class="card sizeDiv rounded-0">
        <div class="card-body bg-transparent">
            <div class="row d-flex justify-content-end">
                <div class="col-8">
                    <h4 class="text-left pb-3 red mb-3">Categorias</h4>   
                </div>
                <div class="col-3">
                    <a id="btn-crear-categoria" class="btn btn-outline-danger">Crear categoria</a>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-12">
                    <div class="container-fluid bg-transparent border text-center border-list">
                        <table class="table">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Descripcion</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                              </tr>
                            </thead>
                            <tbody id="admin-lista-categorias"></tbody>
                          </table>
                    </div>
                </div>
            </div>   
        </div>
    </div>
</div>
<script src="js/index.js"></script>
<script src="js/categorias.js"></script>