<div class="d-flex justify-content-center">
    <div class="card sizeDiv rounded-0">
        <div class="card-body bg-transparent">
            <form id="form-crear-categoria">
                <h4 class="text-left pb-3 red mb-3">Categorias</h4> 
                <div class="input-group mb-3">
                    <span class="input-group-text bg-light-red white border-span">Nombre</span>
                    <input type="text" class="form-control bg-light-gray border-input" id="input-nombre-categoria"
                        placeholder="Ingresa el nombre de la categoria" required>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text bg-light-red white border-span">Descripción</span>
                    <input type="text" class="form-control bg-light-gray border-input" id="input-descripcion-categoria"
                        placeholder="Ingresa la descripción de la categoria" required>
                </div>
                <div class="container">
                    <div class="col-12 text-center">
                        <input type="submit" class="btn bg-light-gray border-input px-4" id="crear-categoria-btn"
                            value="Crear categoria" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="js/productos.js"></script>
<script src="js/categorias.js"></script>

