<div class="container-fluid p-2 text-light text-left">
    <div class="navbar">
        <h1 class="white">FerreProyectos</h1>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="index.html">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="productos.html">Productos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="login-item" href="login.html">Ingresar</a>
            </li>
            <li class="nav-item" id="register-item">
                <a class="nav-link" href="register.html">Registrarse</a>
            </li>
            <li class="nav-item">
                <a href="#"><img src="./img/shoppingcart.png" height="25"></a>
            </li>
            <li class="nav-item dropdown d-none">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                  Default
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Tu cuenta</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Cerrar sesión</a>
                </div>
              </li>
        </ul>
    </div>
</div>