<div class="container-fluid p-2 text-light text-left">
    <div class="navbar">
        <h1 class="white">FerreProyectos</h1>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="index.html">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="productos.html">Productos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="login.html">Ingresar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="register.html">Registrarse</a>
            </li>
            <a href="#"><img src="./img/shoppingcart.png" height="25" href="#"></a>
        </ul>
    </div>
</div>