<div class="container-fluid p-2 text-light text-left">
    <div id="nav-main" class="navbar">
        <h1 class="white navbar-title">FerreProyectos</h1>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="index.html">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="productos.html">Productos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  href="login.html">Ingresar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="register.html">Registrarse</a>
            </li>
            <li class="nav-item">
                <a href="carrito.html"><img src="./img/shoppingcart.png" height="25"></a>
            </li>
        </ul>
    </div>
</div>